main {
  display: flex;
  flex-direction: column;
  margin: var(--body-margin);
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  min-height: calc(100vh - var(--body-margin));
}
