@import '../../variables.scss';

.square {
  display: flex;
  height: var(--square-size);
  width: var(--square-size);
  background-color: var(--square-background);
}

.square[data-value='food'] {
  border-radius: 50%;
  background-color: var(--square-food);
  animation: hearbeat 1.5s linear infinite;
}
.square[data-value='food-one'] {
  border-radius: 50%;
  background-color: var(--square-food-one);
  animation: hearbeat 1.5s linear infinite;
}
.square[data-value='food-two'] {
  border-radius: 50%;
  background-color: var(--square-food-two);
  animation: hearbeat 1.5s linear infinite;
}
.square[data-value='food-five'] {
  border-radius: 50%;
  background-color: var(--square-food-five);
  animation: hearbeat 1.5s linear infinite;
}

@keyframes hearbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.square[data-value='ArrowDown'] {
  background-color: var(--square-snake);
  border-radius: 0 0 25% 25%;
}
.square[data-value='ArrowUp'] {
  background-color: var(--square-snake);
  border-radius: 25% 25% 0 0;
}

.square[data-value='ArrowRight'] {
  background-color: var(--square-snake);
  border-radius: 0 25% 25% 0;
}

.square[data-value='ArrowLeft'] {
  background-color: var(--square-snake);
  border-radius: 25% 0 0 25%;
}

.square[data-value='snake-body'] {
  background-color: var(--square-snake);
}
